{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}" />
{% endblock %}

{% block content %}


<div class="about home__content">
    <div class="about__content">
        <p class="about__text home__text">
            We are a chill coffee shop based in Senbonzakura Kageyoshi, Tokyo.
        </p>
        <p class="about__text home__text">
            We'd be happy to welcome you in, there's always time for coffee!
        </p>
    </div>
</div>


{% endblock %}