{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" />
{% endblock %}

{% block content %}


<form method="post" class="form form--register">
    
    <div class="form--container">
        <h1 class="form__title form--register__title">
            {% if form.errors.items() %}
                <p class="form__error">
                    {% for error in form.errors.items() %}
                        {{ error[1] }}
                    {% endfor %}
                </p>
            {% endif %} 
            Register
        </h1>
        {{ form.hidden_tag() }}
        <div class="form__item">
            <p class="form--label">{{ form.name.label }}</p> 
                {{ form.name(class_="form--area") }}
        </div>
        <div class="form__item">
            <p class="form--label">{{ form.email.label }}</p>
                {{ form.email(class_="form--area") }}
        </div>
        <div class="form__item">
            <p class="form--label">{{ form.password.label }}</p> 
                {{ form.password(class_="form--area") }}
        </div>
        <div class="form__submit">
            {{ form.submit(class_="button--form") }}
        </div>
    </div>
    
</form> 

{% endblock %}